.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  width: 320px;
  height: 40px;
  padding: 0 20px;
  color: #2f2f2f;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
  border: 1px solid black;
  margin-bottom: 12px;
}

.button{
  width: 220px;
  height: 40px;
  border-radius: 4px;
  background-color: aquamarine;
  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
  border: none;
}